In [10]:
import pandas as pd

In [11]:
year = 2021
str = 'https://www.pro-football-reference.com/years/{}/fantasy.htm'

In [12]:
url4 = str.format(year)
url4

'https://www.pro-football-reference.com/years/2021/fantasy.htm'

In [13]:
df = pd.read_html(url4, header = 1)

In [14]:
df

[      Rk               Player   Tm FantPos Age  G GS Cmp Att Yds  ... TD.3  \
 0      1          Tyreek Hill  KAN      WR  27  1  1   0   0   0  ...    1
 1      2         Amari Cooper  DAL      WR  27  1  1   0   0   0  ...    2
 2      3       Rob Gronkowski  TAM      TE  32  1  1   0   0   0  ...    2
 3      4         Travis Kelce  KAN      TE  32  1  1   0   0   0  ...    2
 4      5            Joe Mixon  CIN      RB  25  1  1   0   0   0  ...    1
 ..   ...                  ...  ...     ...  .. .. ..  ..  ..  ..  ...  ...
 409  397       DeAndre Carter  WAS     NaN  28  1  0   0   0   0  ...    0
 410  398    Ricky Seals-Jones  WAS     NaN  26  1  0   0   0   0  ...    0
 411  399       Tyrone Swoopes  WAS     NaN  27  1  0   0   0   0  ...    0
 412  400  Rhamondre Stevenson  NWE      RB  23  1  0   0   0   0  ...    0
 413  401      Ronald Jones II  TAM      RB  24  1  0   0   0   0  ...    0

      2PM  2PP FantPt   PPR  DKPt  FDPt  VBD PosRank OvRank
 0    NaN  NaN     26  37.1  40.1  31.6   15       1      1
 1    NaN  NaN     26  38.9  41.9  32.4   15       2      2
 2    NaN  NaN     21  29.0  29.0  25.0   14       1      3
 3    NaN  NaN     20  25.6  25.6  22.6   13       2      4
 4    NaN  NaN     21  25.0  28.0  23.0   12       1      5
 ..   ...  ...    ...   ...   ...   ...  ...     ...    ...
 409  NaN  NaN    NaN   NaN   NaN   NaN  NaN     155    NaN
 410  NaN  NaN    NaN   NaN   NaN   NaN  NaN      57    NaN
 411  NaN  NaN    NaN   NaN   NaN   NaN  NaN      66    NaN
 412  NaN  NaN     -1   0.1   1.1  -0.4  NaN     103    NaN
 413  NaN  NaN     -1  -0.6   0.4  -0.6  NaN     102    NaN

 [414 rows x 33 columns]]

In [15]:
fantasy_df = df[0]

In [16]:
df = fantasy_df.drop(fantasy_df[fantasy_df.Age == 'Age'].index) #delete the rows with 'Age' in column 'Age'

In [17]:
fantasy_df = df[['Player', 'Tm', 'FantPos', 'Age', 'FantPt', 'PPR','DKPt','PosRank']]

In [18]:
fantasy_df

                  Player   Tm FantPos Age FantPt   PPR  DKPt PosRank
0            Tyreek Hill  KAN      WR  27     26  37.1  40.1       1
1           Amari Cooper  DAL      WR  27     26  38.9  41.9       2
2         Rob Gronkowski  TAM      TE  32     21  29.0  29.0       1
3           Travis Kelce  KAN      TE  32     20  25.6  25.6       2
4              Joe Mixon  CIN      RB  25     21  25.0  28.0       1
..                   ...  ...     ...  ..    ...   ...   ...     ...
409       DeAndre Carter  WAS     NaN  28    NaN   NaN   NaN     155
410    Ricky Seals-Jones  WAS     NaN  26    NaN   NaN   NaN      57
411       Tyrone Swoopes  WAS     NaN  27    NaN   NaN   NaN      66
412  Rhamondre Stevenson  NWE      RB  23     -1   0.1   1.1     103
413      Ronald Jones II  TAM      RB  24     -1  -0.6   0.4     102

[401 rows x 8 columns]

In [19]:
fantasy_df.to_csv(r'C:\Users\Steve.Lin\Desktop\test\Resources\fan_data.csv', index=False)